* {
	padding: 0;
	margin: 0;
	border-width: 0;
	box-sizing: border-box;
}

body, html {
	height: 100vh;
	width: 100vw;
	margin: 0;
}

.major-section {
	height: 100%;
}

.harry-tran-splash-section {
	/* Background image */
	background-image: url('../images/bg.jpeg');
	/* Center the background image */
	background-position: center;
	/* Scale and zoom in the image */
	background-size: cover;
	/* Add position: relative to enable absolutely positioned elements inside the image (place text) */
	position: relative;
	/* Add a white text color to all elements inside the .bgimg container */
	color: white;
	/* Add a font */
	font-family: "Courier New", Courier, monospace;
	/* Set the font-size to 25 pixels */
	font-size: 25px;
}

.harry-tran-splash-section p {
	background-color: rgba(10,10,10,.3);
}

.harry-tran-splash-section a {
	color: darkseagreen;
}

.harry-tran-bio-section {
	width: 100%;
	background: #497d85;
}

.harry-tran-bio-section > * {
	position: relative;
	display: inline-block;
	background: black;
}
.harry-tran-portrait-area {
	height: 80%;
	width: 20%;
	top: 10%;
	margin-left: 5%;
}
.harry-tran-bio-area {
	height: 60%;
	width: 65%;
	top: 20%;
	margin-right: 5%;
}

.harry-tran-project-section {
	width: 100%;
	font-size: 0;
}
.harry-tran-project-tile {
	display: inline-block;
	position: relative;
	top: 5%;
	height: 90%;
	width: 30%;
	background: black;
}
.left-tile, .center-tile{
	margin-left: 2.5%
}
.right-tile, .center-tile{
	margin-right: 2.5%
}

.harry-tran-contact-contact-form {
	position: relative;
	background: black;
	top: 10%;
	width: 90%;
	height: 80%;
	margin: 0 auto;
}

/************************/
/*                      */
/*    Helper Classes    */
/*							  	    */
/************************/
.bg-dark {
	background: #497d85;
}

.bg-light {
	background: #dae4e3;
}
.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.float-right {
	float: right
}
.float-left {
	float: left;
}

